.c3-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    width: 27.5rem;
    height: 20.563rem;
    padding-bottom: 40px;
    background: #17182D;
    border-radius: 20px;
    padding: 0 1.875rem;
    padding-top: 1.875rem;
}
@media (max-width: 640px) {
    .c3-box
    {
        margin-left: 0;
        width: 100%;
        padding: 40px 1.875rem;
        height: fit-content;
        margin-bottom: 1.563rem;
    }
}
.c3-box h2{
    font-weight: 600;
    font-size: 1.563rem;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.c3-box p{
    text-align: start;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
    /* or 164% */
    letter-spacing: -0.03em;
    color: #757095;
}