@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.c3-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    width: 27.5rem;
    height: 20.563rem;
    padding-bottom: 40px;
    background: #17182D;
    border-radius: 20px;
    padding: 0 1.875rem;
    padding-top: 1.875rem;
}
@media (max-width: 640px) {
    .c3-box {
        margin-left: 0;
        width: 100%;
        padding: 40px 1.875rem;
        height: fit-content;
        margin-bottom: 1.563rem;
    }
    .price-box {
        width: 350px;
    }
}
.c3-box h2 {
    font-weight: 600;
    font-size: 1.563rem;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.c3-box p {
    text-align: start;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
    /* or 164% */
    letter-spacing: -0.03em;
    color: #757095;
}
.slide-container {
    width: 100%;
    padding: 60px 0;
}
.slide-content {
    overflow: hidden;
}

.p-s {
    position: absolute;
    bottom: 0px;
}
.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-pagination-bullet {
    background-color: rgba(117, 112, 149, 0.25);
    opacity: 1;
}
.swiper-pagination-bullet-active {

    background-color: #131429;
    border: 3px solid #757095;
}
.swiper-button-next, .swiper-button-prev {
    opacity: 0;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
}


.prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 100px;
}

.price-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    Width: 443px;
    Height: 670px;
    background: #18172D;

    border-radius: 27px;
    margin-right: 30px;
}


.price-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* padding-left: 129px; */
}

.t-up {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #EFF0F7;
    /* margin-top: -18px; */
}

.role-server {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rank-boost {
    overflow-x: scroll;
}
.rank-boost::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.rank-boost {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.date-up {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 175% */
    color: #FA47D8;
    /* margin-top: -21px; */
}
.price-dollar {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
}
.line-d {
    width: 5px;
    height: 28px;
    background: #FA47D8;
    border-radius: 2.5px;
    position: relative;
    right: 17px;
}
.include {
    color: #FFFFFF;
    margin-top: 38px;
    margin-bottom: 35px;
}
.check-items {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.check-p {

    margin-left: 12px;
}
.purshase-now {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #E94A65;
    border-radius: 5px;
    position: relative;
    top: 15px;
}
.purshase-now a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 5px;
}
.left-hdr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#box4 {
    margin-top: 100px;
    margin-right: 0;
}
#box3 {
    margin-right: 0;
}
.paim img {
    width: 30%;
}
#icon {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('img/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 0.8em;
}

@media (max-width: 1367px) {
    .role-server {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
    }
}
@media (max-width: 640px) {
    .price-box {
        Width: 350px;
    }
}


@media (max-width: 418px) {
    .boosting-add {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 19px;
    }
    #el-bo {
        width: 150px;
    }
    .order-summary {
        margin: 50px 0;
    }
    .footer-sc {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 401px) {
    .price-box {
        width: 300px;
    }
    #purshar, #purshase-now {
        width: 281px;
    }
}
@media (max-width: 346px) {
    #h1-style-mb {
        font-size: 16px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #w-mb {
        width: 166px;
        padding-left: 30%;
    }
    #w-mb2 {
        width: 166px;
        padding-left: 25%;
    }
    .platform, .roleandtank {
        flex-direction: column;
    }
    .roleandtank-p {
        margin: 0 auto;
    }
}